body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Graduate";
  src: local("Graduate"),
    url("./fonts/Graduate-Regular.ttf") format("truetype");
  font-weight:normal;
}

@font-face {
  font-family: "Ransom";
  src: local("Ransom"),
    url("./fonts/Ransom.ttf") format("truetype");
  font-weight:normal;
}
